@import "../../global";

cp-game {
  @include default();
  @include barLoader();
  @include btn();
  flex-direction: column;
  .summary-stats{
    @include default($height: 40%);
    flex-direction: column;
    > div{
      @include default($height: 50%);
      > div{
        @include default($width: 50%);
        > strong{
          margin: auto;
          font-size: 5vw;
        }
      }
      .played-count{
        color: #fff;
      }
      .drawn-count{
        color: #eb8f00;
      }
      .won-count{
        color: #58fc79;
      }
      .lost-count{
        color: #C23B22;
      }
    }
  }
  .past-choices{
    @include default($height: 20%);
    > *{
      margin: auto;
    }
  }
  .live-area{
    @include default($height: 40%);
    > *{
      margin: auto;
    }
  }
  cp-lang-selector{
    position: absolute;
    top: 0;
    right: 0;
  }
}