<div ng-if="!joined" class="bar-loader">Loading...</div>

<!--cp-lang-selector ng-if="joined" ng-controller="langSelectorCtrl"></cp-lang-selector-->

<div ng-if="joined" class="summary-stats">
    <div>
        <div class="played-count"><strong>{{txt('played') + ' ' + pastChoicesCount}}</strong></div>
        <div class="drawn-count"><strong>{{txt('drawn') + ' ' + (pastChoicesCount - wins[0] - wins[1])}}</strong></div>
    </div>
    <div ng-if="myIdx > -1">
        <div class="won-count"><strong>{{txt('won') + ' ' + wins[myIdx]}}</strong></div>
        <div class="lost-count"><strong>{{txt('lost') + ' ' + wins[1 - myIdx]}}</strong></div>
    </div>
    <div ng-if="myIdx == -1">
        <div class="won-count"><strong>{{txt('p1Won') + ' ' + wins[0]}}</strong></div>
        <div class="won-count"><strong>{{txt('p2Won') + ' ' + wins[1]}}</strong></div>
    </div>
</div>

<div ng-if="joined" class="past-choices">
    <div class="result-table">
        <div class="headings">
            <div class="turn-count">#</div>
            <div class="p1">{{txt('p1')}}</div>
            <div class="p2">{{txt('p2')}}</div>
        </div>
        <div class="body">
            <div class="choice-pair" ng-repeat="choicePair in pastChoices track by $index" ng-init="p1Result = getP1Result(choicePair); choiceNum = $index + 1;">
                <div class="turn-count">{{choiceNum}}</div>
                <div class="p1" ng-class="{win: p1Result === 1, lose: p1Result === -1, draw: p1Result === 0}">{{choicePair[0]}}</div>
                <div class="p2" ng-class="{win: p1Result === -1, lose: p1Result === 1, draw: p1Result === 0}">{{choicePair[1]}}</div>
            </div>
        </div>
    </div>
</div>

<div ng-if="joined" class="live-area">
    <div ng-if="state == _WAITING_FOR_OPPONENT">
        <div class="msg">{{txt('sendLink')}}</div>
        <div class="link">{{link}}</div>
    </div>
    <div ng-if="state == _GAME_IN_PROGRESS">
        <div class="options" ng-class="{disabled: disabled}">
            <div class="btn" ng-repeat="option in options" ng-click="choose(option)">{{option}}</div>
        </div>
    </div>
    <div ng-if="state == _WAITING_FOR_REMATCH">
        <div class="btn" ng-click="rematch()">{{txt('rematch')}}</div>
    </div>
    <div ng-if="state == _DEACTIVATED">
        <div class="msg">{{txt('deactivated')}}</div>
        <div class="btn" ng-click="newGame()">{{txt('newGame')}}</div>
    </div>
</div>