<cp-lang-selector ng-controller="langSelectorCtrl"></cp-lang-selector>

<div class="summary-stats">

</div>

<div class="past-choices">
</div>

<div class="live-area">

    <div ng-if="state == _WAITING_FOR_OPPONENT">
        <div class="msg">{{txt('waitingForOpponent')}}</div>
    </div>

    <div ng-if="state == _GAME_IN_PROGRESS">
        <div class="options">
            <button class="row" ng-repeat="option in options" ng-click="choose(option)">{{option}}</button>
        </div>
    </div>

    <div ng-if="state == _WAITING_FOR_RESTART">
        <div class="msg">{{txt('youWon')}}</div>
        <div class="btn" ng-click="restartGame()">{{txt('restartGame')}}</div>
    </div>

    <div ng-if="state == _DEACTIVATED">
        <div class="msg">{{txt('deactivated')}}</div>
        <div class="btn" ng-click="newGame()">{{txt('startNewGame')}}</div>
    </div>

</div>