@mixin default($position: relative, $display: inline-block, $width: 100%, $height: 100%, $margin: 0, $border: 0, $padding: 0, $background: rgba(0,0,0,0), $font: 15px arial, $overflow: hidden){
  position: $position;
  display: $display;
  width: $width;
  height: $height;
  margin: $margin;
  border: $border;
  padding: $padding;
  background: $background;
  font: $font;
  overflow: $overflow;
}